.link,
.subtitle-login {
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.img-eye {
    position: relative;
    cursor: pointer;
  
    width: 18.67px;
    height: 17.78px;
  
    margin-left: -35px;
    top: 4px;
  }